@using Assessment.Helpers

<div class="row">
    <div class="col-lg-12">
        <div class="footer-contents">            
            @*@SettingsHelper.APPLICATION_NAME - @Html.Raw(Assessment.Helpers.HtmlHelpers.ApplicationVersion())*@
        </div>
    </div>
</div>