@{
    ViewBag.Title = "PermissionDenied";
}

@*Do not remove this text, it is refreenced in javascript to detect a server "Permission Denied" exception.*@
<h2 style="color:red; font-weight: bold">Permission Denied</h2>
